{% extends "base.html" %}
{% block content %}
<body>
    <div class="container mt-4">
        <h1>List of Products</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="50">
                        {% else %}
                        No Image
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update_product' product.id %}" class="btn btn-primary btn-sm">Update</a>
                        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   
</body>


{% endblock%}

